body {
    color: orangered;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
  }
  img {
    width: 200px;
    border: 10px solid #FF4000
  
  }
  
  ul{
  color: black
  }
  
  a:visited {
    color: orangered;
  }
  
  a:hover {
    text-decoration: none;
  }