<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#QuarentenaDev</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
    <h1> #QuarentenaDev </h1>
    <img src= "https://www.alura.com.br/assets/img/alura-share.1571848411.png">
    <h2> Exercícios feitos no #QuarentenaDev </h2>
    <ul>
        <li> <a href = "https://codepen.io/adelino-py/pen/WNvqGLJ" title= "Página para acesso do exercício"> Batimento Cardíaco </li>
        <li> <a href = "https://codepen.io/adelino-py/pen/VwLJKEj"title= "Página para acesso do exercício"> Cálculo do IMC </li>
        <li> <a href= "https://codepen.io/adelino-py/pen/vYOPqbK" title= "Página para acesso do exercício"> Cálculo de gasto da gasolina </li>
        <li> <a href= "https://codepen.io/adelino-py/pen/BaNeBeB"  title= "Página para acesso do exercício"> Cálculo do aplicativo de transporte </li>
    </ul>
    <script src="./scripts.js"></script>
</body>
</html>